@using NewsRoom.Common
@model ICollection<NewsRoom.Web.ViewModels.Home.HomeCategoriesViewModel>
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<hr>
@foreach (var category in Model)
{
<a asp-action="ByName" asp-controller="Categories" asp-route-name="@category.Title"><h3>@category.Title</h3></a>
    <hr />

    foreach (var news in category.News.OrderByDescending(x => x.CreatedOn))
    {
        <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id" class="text-decoration-none">
            <div>
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="@news.ImageUrl" alt="Generic placeholder image" width="100">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">@news.Title</h5>
                            <p class="text-muted">@news.ShortContent</p>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    }
    <br />

}
